@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}


#container{
	width: 990px;
	background-color: white;
	margin: 0 auto;
}



body{
	background: url("images/stripe.png");
	background-repeat: repeat;
	border: 2px solid black;
    padding: 25px;
	font-family: "nunito";
   
	
}



header {
	width: 100%;
	height: 150px;
  background-color: slategrey; 
  color: white;
  padding: 15px;
  text-align: center;
  clear: both;
}

footer {
	width: 100%;
	height: 150px;
  background-color: slategrey; 
  color: white;
  padding: 15px;
  text-align: center;
  clear: both;
}


nav{
	width: auto;
	background-color: aquamarine;
	height: 1200px;
	float: left;
}

article{
	width: 740px;
	background-color: white;
	height: auto;
	float: left;
	padding: 25px;
}

.leftbody{
	width: 400px;
	float:left;
	margin-top:30px;
	margin-bottom: 0px;
	
}

.rightbody{
	width: 400px; 
	float:right;
	margin-left: 30px;
	margin-top:30px;
	
}



.menu {
  width: 100%;
}

#halloweencolor { 
	
	background-color: darkorange;
}



.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

section {
  display: inline-block;
}

.menu li:hover {
  background-color: #000;
}



#choc
	{
		color: red;
	}

	#peanut
	{
		font-style: oblique;
	}
	
	#car
	{
		font-size: 1.5em;
		color: saddlebrown;
	}
	
	
	.tableheading {
	font-size: large;
	color: forestgreen;
}

	
body {
  background-color: linen;
}

	
table, th, td {
  border:1px solid #8710CB;
  text-align: center;
}